<div class="conteiner">
  <div class="wrap">
      <div class="modal-boy">
          <div class="row">
            <div>
              <ngb-tabset>
                <ngb-tab title="SignIn" class="tabcolor">
                  <ng-template ngbTabContent>
                    <div class="row">
                      <app-sign-in></app-sign-in>
                    </div>
                    <!-- <div *ngIf='isNewUser===true&&EmailVerified===false'>
                      <h3 class="registration">Please confirm your email</h3>
                    </div> -->
                  </ng-template>
                </ngb-tab>
      
                <ngb-tab title="SignUp">
                  <ng-template ngbTabContent>
                    <div class="row">
                      <app-sign-up></app-sign-up>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
      </div>
  </div>
</div>

<!-- *ngIf='(EmailVerified===true&&isNewUser===false)||(isNewUser===false&&EmailVerified===false)' -->