<div class="conteiner">
  <div class="wrap">
      <div class="modal-boy">
          <div class="row">
            <div>
              <ngb-tabset>
                <ngb-tab title="SignIn" class="tabcolor">
                  <ng-template ngbTabContent>
                    <div class="row">
                      <app-sign-in></app-sign-in>
                    </div>
                  </ng-template>
                </ngb-tab>
      
                <ngb-tab title="SignUp">
                  <ng-template ngbTabContent>
                    <div class="row">
                      <app-sign-up></app-sign-up>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
      </div>
  </div>

</div>