
 table{
    width:600 px;
    height: 200px;
    margin: auto;
} 

td{
    border-bottom: 1px solid rgb(47, 173, 64);
    text-align: center;
    padding: 10px;
    color: rgb(47, 173, 64);
}

h2{
    text-align: center;
    color: rgb(47, 173, 64);
}

.conteiner{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}